*~

## generic files to ignore
*.lock
*.DS_Store
*.swp
*.out

## build dirs
modules/faceDetector/build*/
main/build*/
modules/handCtrl/build*/
modules/reachCtrl/build*/
modules/reachCtrl/test/target_pos_port/build*/
modules/nearThingsDetector/build
*kdev*

## others
modules/handCtrl/testData*
modules/handCtrl/app*
modules/handCtrl/CMakeLists_new_template.txt
